<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title>login</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="row justify-content-center">
      <div class="col-6">
    <div class="container">
    <form action="{% url 'login' %}" method="post">
      {% if form.error %}
       <p>There is something wrong with what you have entered</p>
      {% endif %}
      {% csrf_token %}
     <p> {{form.username|as_crispy_field }}</p>
      <p>{{form.password|as_crispy_field }}</p>
      <p><input type="submit" class="btn btn-primary" value="login" /></p>
       <a href="{% url 'password_reset' %}">forgot your password?</a>
      <input type="hidden" name="next"  value="{{next}}" />
    </form>
    </div>
    </div>
    </div>
  </body>
</html>