{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>fidel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles2.css'%}">
   
  </head>
  <body>
      <h1>Our Executive Members</h1>
    </div>
     <div class="row">
       <div class="image">
         <div id="zoom-circle">
           <figure>
             <a href="{% static 'images/Boaz.png'%}">
             <img src="{% static 'images/Boaz.png'%}" alt="">
            </a>
           </figure>
           <h3>BOAZ OGOLLA</h3>
           <p>
             Boaz is a computer programmer and a web developer currently handling 
             different projects across the country
           </p>
         </div>

       </div>

     </div>
     <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/Calvince.jpg'%}">
            <img src="{% static 'images/Calvince.jpg'%}" alt="">
          </a>
          </figure>
          <h3>CALVINCE AMOLLO</h3>
          <p>
            calvince is a finalist of  diploma in quantitative survey(QS) and a business man
          </p>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/deno2.png'%}">
            <img src="{% static 'images/deno2.png'%}">
            </a>
          </figure>
          <h3>DENIS OCHIENG</h3>
          <p>
            Denis is an undergraduate student at JKUAT
            pursuing Degree in BSc. Telecommunication and Information Engineering.
            
          </p>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/Levix Aloo.png'%}">
            <img src="{% static 'images/Levix Aloo.png'%}" alt="">
            </a>
          </figure>
          <h3>LEVIX ALOO</h3>
          <p>
            Levix is a humanitarian and a philanthropist working 
            with different organisations to promote human welfare
          </p>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/Michelle.jpg'%}">
            <img src="{% static 'images/Michelle.jpg'%}">
            </a>
          </figure>
          <h3>MICHELLE ATIENO</h3>
          <p>
            Michelle is currently an undergraduate pursuing a barchelar degree in microbiology
            at Moi University.
          </p>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/Mwanthi.png'%}">
            <img src="{% static 'images/Mwanthi.png'%}">
            </a>
          </figure>
          <h3>MWANTHI MWANGANGI</h3>
          <p>
           Mwanth is currently pursuing diploma in Information communication Technology
           at kinyanjui technical training institute.
          </p>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/Pheny.png'%}">
            <img src="{% static 'images/Pheny.png'%}" alt="">
            </a>
          </figure>
          <h3>PHENY</h3>
          <p>
            Pheny is an artist and a musician
          </p>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/sam.png'%}"></a>
            <img src="{% static 'images/sam.png'%}" alt="">
            </a>
          </figure>
          <h3>SAM</h3>
          <p>
            sam is currently offering mentorship across the country with
             its beneficiaries being youths bellow 30 years of age
          </p>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="image">
        <div id="zoom-circle">
          <figure>
            <a href="{% static 'images/colins.png'%}">
            <img src="{% static 'images/colins.png'%}" alt="">
            </a>
          </figure>
          <h3>COLINS OTIENO</h3>
          <p>
            Colins is an executive member who is also a profesional accountant
          </p>
        </div>

      </div>

    </div>
  </body>
  </html>